server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: ALWAYS
    include-binding-errors: ALWAYS

spring:
  flyway:
    enabled: false
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ecommerce}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  swagger-ui:
    path: /docs

security:
  jwt:
    segredo: "1234567890abcdef1234567890abcdef"
    emissor: ecommerce-seuapp
    minutos-acesso: 15
    dias-refresh: 7
logging:
  level:
    root: DEBUG
    org.springframework: DEBUG
    org.hibernate: INFO
